<footer>
  <div class="footer-container">
    <div class="footer-left">
      <p>&copy; <%= new Date().getFullYear() %> Puff of Air</p>
    </div>
    <div class="nav-icons">
      <a
        class="nav-icon"
        href="https://www.linkedin.com/in/omaralzubi-007oa/"
        aria-label="LinkedIn"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="/icons/linkedinIcon.svg"
          alt="LinkedIn"
          width="28"
          height="28"
        />
      </a>
      <a
        class="nav-icon"
        href="https://github.com/Alzubi-Omar"
        aria-label="GitHub"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img src="/icons/githubIcon.svg" alt="GitHub" width="28" height="28" />
      </a>
    </div>
  </div>
</footer>
