<%-contentFor('body')%>
<main class="container page-content">
  <div class="content-wrapper">
    <h1 class="page-title">About</h1>
    <p>
      Puff of Air is a weather app built with Node.js, Express and the
      OpenWeatherMap API.
    </p>
  </div>
</main>
