<main>
  <h1>Welcome to Puff of Air</h1>
  <form action="/" method="post">
    <input
      type="search"
      name="searchTemp"
      placeholder="Search for a city"
      required
    />
    <button type="submit">Search</button>
  </form>
</main>
